<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>
<body>
    <div id="app"></div>
</body>
    <script>
        // 插值表达式的使用 v-once v-html v-bind js表达式 动态参数 v-if v-else-if v-else
        const app = Vue.createApp({
            data(){
                return {
                    names: [],
                    inputValue: "",
                    btnIsShow: false,
                    str: "<h1>你在干什么?</h1>",
                    popup: "Lad don't look",
                    age: ""
                }
            },
            methods: {
                addName(){
                    if(this.inputValue){
                        this.names.push(this.inputValue);
                        this.inputValue = "";
                    }else{
                        alert("请输入姓名后再提交!")
                    }
                },
                updateShow(){
                    this.btnIsShow = !this.btnIsShow;
                },
                updateData(){
                    this.str = this.str === "<h1>你在干什么?</h1>"?"<h6>你在干什么?</h6>":"<h1>你在干什么?</h1>"
                },
                tip(){
                    alert("提交拉")
                }
            },
            template: `
                <div>
                    <button @click="updateShow">需要自定义选择吗?</button>
                    <button @click="updateData">跟随我变动吧</button>

                    <div v-html="str"></div>
                    <div v-once>只会动一次: {{str}}</div>
                    <div :class="btnIsShow === false?'one':'two'">js表达式, 我就要跟你相反: {{ btnIsShow?"False":"True" }}</div>
                    <div v-bind:title="popup">把鼠标放上来瞧瞧??</div>

                    <div v-if="btnIsShow">
                        <input v-model="inputValue">
                        <button @click="addName">添加</button>
                    </div>
                    <ul>
                        <my-list v-for="(item, index) of names" :index="index" :item="item"></my-list>
                    </ul>
                    <form action="www.baidu.com" @click.prevent="tip">
                        <button type="submit">submit</button>
                    </form>

                    <p  v-if="inputValue">你看到我了吗 {{ inputValue }}</p>
                    <p>年龄判断</p>
                    <input v-model="age">
                    <p v-if="age<18 && age>0">年龄小于18岁，未成年</p>
                    <p v-else-if="age>=18 && age<=60">年龄大于18岁，已成年</p>
                    <p v-else>请输入年龄</p>
                </div>
            `
        })
        app.component("my-list", {
            props: ["index", "item"],  // 声明需要传参的组件
            template:  `<li>[{{index}}]- {{item}}</li>`
        })
        const vm = app.mount("#app")
    </script>
    <style>
        .one{color: red;}
        .two{color: green;}
    </style>
</html>